.container_main{
    width: 100%;
    background-color: black;
}
.container_profile{
    padding: 30px;
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.container_avatar{
    display: flex;
    flex-direction: column;
}
.container_avatar > p{
    color: white;
    line-height: 10px;
}
.avatar{
    margin: auto;
    width: 70px;
    height: 70px;
}
.container_social{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 270px;
    text-align: left;
    line-height: 50px;
}
.container_social > div > a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: flex;
}
.container_social > div > a > svg{
    margin-right: 10px;
}
.text{
    margin-top: -12px;
}

@media (max-width: 768px){
    .container_profile{
        flex-direction: column;
        width: auto;
    }
}