.container_regions{
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}
.region{
    background: lightskyblue;
    padding: 10px;
    border-radius: 8px;
    margin: 20px;
    color: black;
}
.text{
    text-align: left;
    font-size: 20px;
    width: 90%;
    margin: 20px auto;
}
.container_tables{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.table{
    width: 40%;
}
.dex{
    color: blue;
    padding: 10px;
    background-color: lightskyblue; 
    cursor: pointer;
    border-radius: 10px;
    width: 90%;
    margin: 20px auto;
}