.container_main{
    height: 100%;
}
.container_nav{
    background-color: black;
}
.container_pokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container_images{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.container_photos_title{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px repeat(2, 1fr);
}
.container_title{
    padding-top: 20px;
}
.container_btn{
    cursor: pointer;
    align-self: center;
}
.container_table{
    min-width: 150px;
    transition-property: all;
    transition-duration: .6s;
    margin: auto;
    margin-top: 30px;
    width: 250px;
}
.container_info{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.contaner_info {
    width: 100%;
}
.container_table_title{
    width: 100%;
}
.title{
    width: 90%;
    margin: auto;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}
.icon{
    padding-top: 5%;
    transition-property: all;
    transition-duration: .6s;
}

@media (max-width: 760px){
    .container_nav{
        height: 8vh;
    }
    .container_images{
        width: 90%;
    }
    .container_info{
        flex-direction: column;
        width: auto;
        margin: auto;
    }
    .container_table{
        max-width: 70%;
        margin: auto;
    }
}