.container_sections{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 760px){
    .container_sections{
        flex-direction: column;
    }
    .container_sections > div{
        margin: auto;
    }
}