.container_pokedex{
    width: 80%;
    margin: 30px 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 40px;
}
.container_pokedexes{
    display: unset;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 20px;
}
.pokedex{
    width: 90%;
    background-color: lightskyblue;
    border: 1px solid black;
    color: black;
    font-size: 18px;
    margin: 5px;
    border-radius: 5px;
}
.container_pages > button{
    margin-bottom: 20px;
    padding: 2px;
    cursor: pointer;
}
.active{
    border-radius: 5px;
    border: 1px solid red;
    width: 70px;
    height: 30px;
}
.empty{
    border: none;
    width: 40px;
}
.container_menu_pokedexes{
    display: none;
}
.menu_pokedex{
    width: 90%;
    background-color: green;
    color: white;
    margin: 20px auto;
    border-radius: 10px;
    cursor: pointer;
}
.container_pokedexes_menu{
    width: 100%;
    margin: auto;
    transition-property: all;
    transition-duration: .6s;
}
.container_input{
    width: 300px;
    border: 1px solid gray;
    border-radius: 15px;
    margin: auto;
    background-color: white;
    display: flex;
}
.container_input>input{
    margin-left: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 8px;
}
.container_icon{
    cursor: pointer;
    width: 50px;
    border-left: 1px solid gray;
    padding: 8px;
    color: gray;
}


@media (max-width: 760px){
    .container_pokedex{
        grid-template-columns: 90%; 
        margin: 50px auto;
    }
    .container_pokedexes{
        display: none;
    }
    .container_menu_pokedexes{
        display: unset;
    }
    .pokedex{
        margin: 8px auto;
    }
}