.table{
    margin: auto;
    width: 50%;
    border: 1px solid gray;
    border-radius: 8px;
    border-spacing: 8px;
}
.table > thead > tr > th,
.table > tbody  > tr > td
{
    background-color: rgb(209, 243, 255);
    border-radius: 5px;
    border-right: 1px solid gray;
}
.table>tbody>tr>td{
    line-height: 50px;
}
.container_pokemons{
    width: 95%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 20px;
}

@media (max-width: 760px){
    .container_pokemons{
        width: 85%;
        grid-template-columns: 1fr;
    }
}